@font-face {
  font-family: "Rondo";
  src: url("rondo.ttf");
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rondo", serif;
  background-color: red;
}

.middle {
  display: flex;
  
}

.middleLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  margin: 10px;
  height: 50px;
  width: 200px;
  background-color: white;
}

.middleRight {
  width: 214px;
  height: 500px
}

.title {
  font-size: 100px;
  padding-bottom: 100px;
  color: goldenrod;
  padding: 25px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
}

.divSquares {
  background-color: lightgray;
}

