@font-face {
    font-family: "Rondo";
    src: url("rondo.ttf")
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-family: "Rondo", serif;
}

.title {
    font-size: 100px;
    padding-bottom: 100px;
    color: goldenrod;
    padding: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}

.divSquares {
    background-color: lightgrey;
    
}

.divSquaresColor {
    background-color: black;
   
}
